.cards {
  display: grid;
  gap: 1.5rem;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.image {
  border-radius: 0.935rem;
  width: 100%;
  object-fit: cover;
}

.card {
  @include column(1rem);

  height: 570px;
  flex: 0 0 auto;
  min-width: 0;

  background: var(--primary-color-10);
  padding: 1.5rem;
  border-radius: 0.935rem;

  @media (min-width: 768px) {
    max-width: 310px;
  }
}

.mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.content {
  @include column(1rem);
}

.description {
  @include column(0.5rem);
}

.heading {
  @include text-90;

  color: var(--identify-color-5);
}

.text {
  @include text-45;
}
