.mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.top {
  @include column(1.5rem);
}

.desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}