:root {
  --primary-color-5: #F1F1F1;
  --primary-color-10: #FFFFFF;
  --primary-color-15: #B9B7B5;

  --identify-color-5: #155FA0;
  --identify-color-10: #2C3944;
  --identify-color-15: #1B78CB;

  --additional-color-5: #000000;
  --additional-color-10: #363847;
  --additional-color-15: #929292;
  --additional-color-20: #A1A1A1;
  --additional-color-25: #041320;

  --transparent-color-5: #00000080;
  --transparent-color-10: #363847CC;
  --transparent-color-15: #F1F1F190;
  --transparent-color-20: #ECECEC80;
  --transparent-color-25: #FFFFFF80;
  --transparent-color-30: #00000024;
}