.navbar {
  display: none;

  @media (min-width: 992px) {
    display: flex;
    align-items: center;
  }
}

.link {
  font-size: 0.95rem;
  font-weight: 500;

  @media (min-width: 1100px) {
    font-size: 1rem;
  }

  padding: 0.625rem 0.875rem;
  text-transform: uppercase;

  transition: 200ms all ease-in-out;

  &:hover {
    color: var(--identify-color-5);
  }
}

.button {
  @include text-65;

  background: #1280e080;
  border-radius: 500rem;
  color: var(--primary-color-10);
  padding: 0.625rem 0.875rem;
  text-transform: uppercase;

  transition: 200ms all ease-in-out;

  &:not(:disabled):hover {
    background: var(--identify-color-15);
  }
}
