.wrapper {
  width: 100%;
  min-height: 100vh;
}

.main {
  @include column(110px);

  overflow: hidden;
  backdrop-filter: blur(1.5rem);
  background: var(--transparent-color-15);
  padding: 3.5rem 1rem 3.5rem;
  border-radius: 2.5rem;
  transform: translateY(-4.25rem);

  @media (min-width: 768px) {
    border-radius: 4.5rem;
  }

  @media (min-width: 1600px) {
    padding-inline: 5.25rem;
  }
}
