.card {
  @include column(1.25rem);

  background: var(--primary-color-10);
  padding: 1.5rem;
  border-radius: .625rem;
  flex: 1;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding: 2.0rem;
  }
}

.content {
  @include column(1.5rem);
}

.heading {
  @include text-90;

  color: var(--identify-color-5);
}

.text {
  @include text-65;
}

.image {
  object-fit: cover;
  height: 20rem;
  width: 100%;
  border-radius: .935rem;
}