.header {
  position: fixed;
  width: calc(100%);
  top: 1.0rem;
  right: 0;
  left: 0;
  z-index: 160;
  padding-inline: 1.25rem;
}

.meta > div {
  backdrop-filter: blur(1.5rem);
  background: var(--transparent-color-20);
}

.header > div {
  padding: .75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 555rem;
}

.desktop {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}

.button {
  width: 2.5rem;
  height: 2.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile {
  @media (min-width: 992px) {
    display: none;
  }
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--transparent-color-15);
  backdrop-filter: blur(1.5rem);
  z-index: 100;
}