.reason {
  height: 10px;
  margin: 0 0 10px 0;
  background: transparent;
}

.section > div {
  @include column(1rem);
}

.content {
  padding: 2.25rem;
  border-radius: 1rem;
  background: var(--primary-color-10);
}

.info {
  @include column(1.5rem);
}

.heading {
  @include text-25;

  color: var(--identify-color-5);
  text-transform: uppercase;

  & span {
    color: var(--primary-color-15);
  }
}

.items {
  display: grid;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.item {
  background: var(--primary-color-10);
  padding: 1.5rem;
  border-radius: 0.935rem;

  & p {
    @include text-65;

    color: var(--identify-color-5);
  }

  &:nth-of-type(1) .digit {
    color: #f73d6a;
  }

  &:nth-of-type(2) .digit {
    color: #7a439d;
  }

  &:nth-of-type(3) .digit {
    color: #e3001c;
  }

  &:nth-of-type(4) .digit {
    color: #038688;
  }
}

.digit {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 135%;
}

.text {
  @include text-55;

  width: 100%;

  @media (min-width: 768px) {
    width: 85%;
  }
}
